Django>=4.2
djangorestframework
djangorestframework-simplejwt
mongoengine
dnspython>=2.4.2
pymongo
python-dotenv
pytest-django
numpy
pandas
scikit-learn
joblib
nltk
django-cors-headers
django-filter
gunicorn